.unit{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card{
    display: flex;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: var(--card-color);
    border-radius: 1.2rem;
    color: var(--color);
    text-decoration: none;
    font-family: var(--text-font);
    align-items: center; 
    box-shadow: #a9c2db88 0 5px 20px 2px;
    transition: .4s;
}

.card:hover{
    box-shadow: #6b7b8bbb 0 2px 15px 2px;
    transform: scale(1.05);
}

    .number{
        width: 15%;
        font-size: 1.3rem;
    }

    .name{
        width: 60%;
        font-size: 1.5rem;
        font-weight: 1000;
    }

    .grade{
        width: 20%;
        font-size: 1rem;
        font-weight: 800;
        display:flex;
    }

        .grade_inner{
            padding: .3em .8rem;
            border-radius: 2rem;
            background-color: #ff9447;
            box-shadow: inset #72543d15 0 0 5px 2px;
            color: #fff;
            margin-right: .5rem;
        }

    .enter{
        width: 5%;
        font-size: 1.5rem;
    }

.program-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-start; /* 上揃え */
    gap: 6%; /* 画像と説明の間隔 */
    flex-wrap: wrap;
}

.program-image {
    flex: 0 0 40%; /* 横幅40% */
}

.program-image img {
    width: 100%; /* 枠に合わせてリサイズ */
    height: auto;
    border-radius: .5rem; /* 任意で角丸 */
    aspect-ratio: 3/2;
}

.program-description {
    flex: 0 0 54%; /* 横幅60% */
    font-size: 1.2rem;
    line-height: 1.6;
    word-wrap: break-word; /* 長い単語やURLを折り返す */
    word-break: break-word; /* 同じく折り返しを強制 */
    white-space: normal; /* 改行可能にする */
}